#homeBanner {
    position: relative;
    overflow: hidden;
}

#homeBanner video{
    display: block;
    background-image: url(../img/home-banner-bg.png);
    background-repeat: no-repeat;
    background-size: 130% 100%;
    background-position: bottom;
}

#homeBanner .copy {
    position: absolute;
    font-weight: bold;
    font-size: 80px;
    width: 60%;
    height: 240px;
    top: 50%;
    margin-top: -120px;
    line-height: 1.1;
    color: #fff;
}

#homeBanner .line {
    display: inline-block;
    width: 120px;
    height: 50px;
}

#homeBanner .line::before {
    content: '';
    display: block;
    width: 160px;
    height: 5px;
    margin-top: 22px;
    margin-left: -18px;
    background-color: #acd1a7;
}

#hoverTexts {
    font-size: 24px;
    text-align: center;
    padding: 30px 0;
}

#hoverTexts .hovertext {
    font-weight: bold;
    display: inline-block;
    padding-right: 32px;
    background-image: url(../img/font-icon.png);
    background-size: 19px auto;
    background-repeat: no-repeat;
    background-position: 98% center;
    margin-right: 5px;
    position: relative;
    cursor: pointer;
    transition: color 300ms;
    color: #000;
    padding-left: 10px;
}

#hoverTexts {
    position: relative;
    z-index: 2;
}

#hoverTexts .hovertext:hover, #hoverTexts .hovertext.active {
    color: #006341;
}

#hoverTexts .imgs {
    position: relative;
    max-height: 0;
    transition: max-height 300ms ease-out;
    overflow: hidden;
    height: 200px;
}

.pops {
    height: 200px;
    position: relative;
}

.hovs {
    z-index: 2;
    position: relative;
}

.pop {
    background-color: transparent;
    color: #006341;
    width: 90%;
    right: 0;
    text-align: right;
    font-size: 25px;
    padding: 15px 210px 35px 0;
    font-weight: 500;
    line-height: 32px;
    position: absolute;
    top: 0;
    display: none;
    height: 200px;
    z-index: 1;
}

.pop img {
    position: absolute;
    height: 300px;
    top: -50px;
    right: 0px;
}

.pop a {
    position: relative;
    z-index: 3;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    text-decoration: underline;
}

.pop a .title {
    display: block;
}

.pop a .details {
    display: block;
    font-weight: normal;
}

.hovertext:hover .pop, .active.pop {
    display: block;
}

#hoverTexts .imgs.active {
    max-height: 200px;
    transition: max-height 0.25s ease-in;
}

#hoverTexts img {
}

#hoverTexts .copy {
    z-index: 2;
    position: relative;
}

.gifimg {
}

.gifimg.active {
    display:inline-block !important;
}

#ladderLine {
    position: absolute;
    width: 580px;
    height: 580px;
    background-image: url('../img/ladderline.png');
    background-repeat: no-repeat;
    animation: loading 15s linear infinite;
    background-size: 1160px;
    background-position: 0 0;
}

#horLine {
    position: absolute;
    top: 54%;
    width: 100%;
    animation: width 10s linear infinite;
    height: 1px;
    display: block;
    background-color: #fff;
}

#verLine {
    position: absolute;
    bottom: 0;
    left: -50%;
    width: 100%;
    height: 1px;
    display: block;
    background-color: #fff;
    animation: spin 10s linear infinite;
}

#bannerLines {
    background-image: url('../img/home-lines.png');
    background-position: top left;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100% auto;
}


#podcastPlayer {
    padding: 10px 0;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    bottom: 0;
    width: 100%;
    display: none;
}

#podcastPlayer.active {
    display: block;
}

#podcastThumb {
    margin-right: 20px;
    float: left;
    width: 45px;
    border-radius: 50%;
}

#podcastCopy {
    width: 50%;
    float: left;
    line-height: 18px;
    height: 45px;
}

#podcastTitle {
    color: #fff;
    font-size: 14px;
    display: inline-block;
    width: 100%;
    font-weight: bold;
    margin-top: 5px;
}

#podcastDetails {
    color: #fff;
    font-size: 10px;
    display: inline-block;
    width: 100%;
}

.scrubber {
    width: 100%;
    position: absolute;
    top: -16px;
}

#subscribeForm input[type=submit], #subscribeForm input[type=button] {
    border: 1px solid #006341;
    width: 170px;
    text-align: center;
    background-color: transparent;
    height: 36px;
    line-height: 36px;
    float: right;
    color: inherit;
    transition: color 300ms, background-color 300ms;
}

.podcastslider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #fff;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    background: linear-gradient(to right, #52AF31 0%, #52AF31 50%, #fff 50%, #fff 100%);
    border-radius: 8px;
    transition: background 450ms ease-in;
}

.podcastslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}

.podcastslider::-webkit-slider-thumb:hover {
    background: #52AF31;
}

.podcastslider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}

.podcastslider::-moz-range-thumb:hover {
    background: #52AF31;
}


/* ----------------------------------------------
 * Generated by Animista on 2021-11-15 10:37:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes tracking-in-contract{0%{letter-spacing:1em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}}@keyframes tracking-in-contract{0%{letter-spacing:1em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}}
.tracking-in-contract{-webkit-animation:tracking-in-contract .8s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-contract .8s cubic-bezier(.215,.61,.355,1.000) both}
.slide-in-bck-center{-webkit-animation:slide-in-bck-center 2s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bck-center 2s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes slide-in-bck-center{0%{-webkit-transform:translateZ(600px);transform:translateZ(600px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes slide-in-bck-center{0%{-webkit-transform:translateZ(600px);transform:translateZ(600px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}
.slide-in-bottom{-webkit-animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}

@media only screen and (max-width: 1400px){

    .pop a {
        font-size: 40px;
    }
}
@media only screen and (max-width: 1200px){

    .pop {
        padding: 15px 100px 35px 0;
    }
}
@media only screen and (max-width: 991px){
    .pop a {
        font-size: 30px;
    }
}
@media only screen and (max-width: 767px){
    .pop {
        line-height: 40px;
        padding: 15px 50px 35px 0;
    }

    .pop a {
        line-height: 40px;
        font-size: 30px;
    }

    .pops {
        position: fixed;
        width: 90%;
        height: 300px;
        top: 50%;
        left: 5%;
        z-index: 3;
        display: none;
    }

    .pops.active {
        display: block;
    }
    .pops .pop {
        background-color: #fff;
        padding: 40px;
        border-radius: 30px;
        box-shadow: 2px 0 155px rgb(163 223 156);
        height: auto;
        width: 80%;
        left: 10%;
    }

    .pop img {
        height: 130px;
        top: -60px;
        left: -40px;
    }

    #hoverTexts {
        font-size: 18px;
    }
}
@media only screen and (max-width: 520px){
    .pop {
        line-height: 40px;
        padding: 15px 0 35px 0;
        width: 100%;
        text-align: center;
    }

    .pop a {
        font-size: 24px;
    }

    .pop img {
        position: absolute;
        height: 70px;
        top: -20px;
        left: 0;
    }

    #homeBanner .copy {
        font-size: 39px;
        width: 90%;
        height: 240px;
        margin-top: -50px;
    }

    #homeBanner .line {
        display: inline-block;
        width: 30px;
        height: 50px;
    }

    #homeBanner .line::before {
        width: 40px;
        height: 5px;
        margin-top: 34px;
        margin-left: -5px;
    }
    .article-thumb {
        transition: filter 300ms;
        filter: grayscale(1);
        height: auto;
        width: 100%;
    }
    .article-tag {
        display: none;
    }

}
@media only screen and (max-width: 520px){

    .pops .pop {
        width: 100%;
        left: 0;
    }


    .pop a {
        font-size: 23px;
        line-height: 30px;
    }
}
