
/*
  1. Base
*/
/*
  2. Components
*/
div.control-container {
    margin-top: 10px;
    padding: 20px 10px;
    border: 3px solid #000;
}
div.control-container div.amplitude-play-pause {
    width: 74px;
    height: 74px;
    cursor: pointer;
float: {{ isset($_GET['lang']) ? 'right' : 'left' }};
margin-left: 10px; }
div.control-container div.amplitude-play-pause.amplitude-paused {
    background: url("{{ asset('public/img/audio-play.png') }}");
    background-size: cover; }
div.control-container div.amplitude-play-pause.amplitude-playing {
    background: url("{{ asset('public/img/audio-pause.png') }}");
    background-size: cover; }
div.control-container div.meta-container {
float: {{ isset($_GET['lang']) ? 'right' : 'left' }};
width: calc(70%);
text-align: center;
color: #000;
margin-top: 10px;
margin-{{ isset($_GET['lang']) ? 'right' : 'left' }}: 10px;
}
div.control-container div.meta-container span[data-amplitude-song-info="name"] {
    font-size: 18px !important;
    color: #000;
    display: block;
    font-weight: bold;
}
div.control-container div.meta-container span[data-amplitude-song-info="artist"] {
    font-weight: 400;
    font-size: 14px;
    color: #000;
    display: block; }
div.control-container:after {
    content: "";
    display: table;
    clear: both; }

/*
  Small only
*/
@media screen and (max-width: 39.9375em) {
    div.control-container div.amplitude-play-pause {
        background-size: cover;
        width: 64px;
        height: 64px; }
    div.control-container div.meta-container {
        width: calc(95% - 74px); }
}

#mobile-other-links {
    display: none;
}

#mobile-other-links a {
    float: left;
}

@media screen and (max-width: 767px) {
    #mobile-other-links {
        display: block;
    }

    #mobile-other-links a {
        width: 100%;
        display: block;
        height: 40px;
    }

    #mobile-other-links svg {
        margin-left: 0 !important;
    }

    #desk-other-links {
        display: none;
    }
}
/*
  Medium only
*/
/*
  Large Only
*/
div.time-container {
    opacity: 0.5;
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 12px;
    color: #000;
    height: 15px; }
div.time-container span.current-time {
    float: left;
    margin-left: 5px; }
div.time-container span.duration {
    float: right;
    margin-right: 5px; }

/*
  Small only
*/
/*
  Medium only
*/
/*
  Large Only
*/
progress.amplitude-song-played-progress {
    background-color: #313252;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    display: block;
    cursor: pointer;
    margin-top: 0;
    position: absolute;
    top: -4px;
}
progress.amplitude-song-played-progress:not([value]) {
    background-color: #52AF31 ; }

progress[value]::-webkit-progress-bar {
    background-color: #fff; }

progress[value]::-moz-progress-bar {
    background-color: #00ed00; }

progress[value]::-webkit-progress-value {
    background-color: #00ed00; }

/*
  Small only
*/
/*
  Medium only
*/
/*
  Large Only
*/
/*
  3. Layout
*/
div.bottom-container {
    background-color: #ffffff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*
  Small only
*/
/*
  Medium only
*/
/*
  Large Only
*/
div#single-song-player {
    margin: auto;
    width: 100%;
    max-width: 100%;
    -webkit-font-smoothing: antialiased;
}
div#single-song-player img[data-amplitude-song-info="cover_art_url"] {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: none;
}
